* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: grey;
    text-align: center;
    color: white;
}

.heading {
    font-size: 200%;
}

.header {
    font-size: 200%;
    color: white;
}

.we_are {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 2px;
}

.card1 {
    background: rgb(141, 0, 0);;
    color: rgb(224, 224, 224);
    display: flex;
    margin: 30px 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 5px;
}

.card2 {
    background: rgb(141, 0, 0);;
    color: rgb(224, 224, 224);
    display: flex;
    margin: 30px 10px;
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 5px;
}

.card3 {
    background: rgb(141, 0, 0);;
    color: rgb(224, 224, 224);
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: end;
    border-radius: 5px;
}


.card1 img {
    max-height: 400px;
    max-width: 400px;
    margin: 10px;
    border-radius: 5px;
}

.card2 img {
    max-height: 400px;
    max-width: 400px;
    margin: 10px;
    border-radius: 5px;
}

.card3 img {
    max-height: 400px;
    max-width: 400px;
    margin: 10px;
    border-radius: 5px;
}